body {
    background: url(../img/background.png) repeat;
}

header, footer {
    text-align: center;
}

nav {
    max-width: 500px;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

nav a:hover{
    text-decoration: underline;
}

nav ul{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

nav ul li {
    flex-direction: row;
    list-style-type: none;
}

.active{
    color: blue;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.main {
    display: flex;
}

.detail-img {
    width: 300px;
}

.banner {
    max-width: 100%;
}

main p {
    font-size: 1.2rem;
}

.center {
    text-align: center;
}