<footer>
  <hr>
  <h3>Your random hacker note of the day:</h3><span id="hackernote"></span>
  <p>&copy;2019 Roger Terrill</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js" type="text/javascript"></script>
<script>
  
  window.onload = () => {
    let phrase = faker.hacker.phrase();
    let element = document.getElementById("hackernote");
    element.innerHTML= ` ${phrase}`;
  }
</script>
</body>
</html>