<% include partials/header.ejs %>
<header>
  <h1>Most Destructive Viruses</h1>
</header>
<hr />
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/shamoon">Shamoon</a></li>
    <li><a href="/stuxnet">Stuxnet</a></li>
    <li><a href="/iloveyou">ILOVEYOU</a></li>
  </ul>
</nav>
<hr />
<main class="main">
  <figure>
    <img class="detail-img" src="img/shamoon.jpg" alt="virus image" />
  </figure>
  <article>
    <h2>Shamoon</h2>
    <p>
      Shamoon is a lesser known but what could have possibly been the worst
      virus ever that could have nearly crippled the worlds economy. In 2012,
      computer admins for Saudi Aramco discovered a virus that said it would
      destroy computers at a certain time but the adminstrator ignored it. When
      the time came, many computer systems were whiped and ultimatly, one of the
      biggest producers of oil had to disconnect from the internet and manually
      ship out barrels of oil without it's electronic infrastructure. It nearly
      brought the worlds economy to a grinding halt.
    </p>
  </article>
</main>
<div class="center">
  <a href="https://en.wikipedia.org/wiki/Shamoon">More Information</a>
</div>

<% include partials/footer.ejs %>
