<% include partials/header.ejs %>
<header>
  <h1>Most Destructive Viruses</h1>
</header>
<hr />
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/shamoon">Shamoon</a></li>
    <li><a class="active" href="/stuxnet">Stuxnet</a></li>
    <li><a href="/iloveyou">ILOVEYOU</a></li>
  </ul>
</nav>
<hr />
<main class="main">
  <figure>
    <img class="detail-img" src="img/stuxnet.jpg" alt="virus image" />
  </figure>
  <article>
    <h2>Stuxnet</h2>
    <p>
      Stuxnet was an international virus whose origins is still unclear. It
      attacked the Iranian government by executing in Iran's nuclear program by
      destroying the uranium enrinchment program by causing malfunction in the
      centrifuges.
    </p>
  </article>
</main>
<div class="center">
  <a href="https://en.wikipedia.org/wiki/Stuxnet">More Information</a>
</div>
<% include partials/footer.ejs %>
